.card-design {
  height: 350px;
  width: 100%;
  background-color: blueviolet;
  font-size: 25px;
}
.list {
  display: flex;
}
.list-title {
  background-color: blueviolet;
  color: white;
  height: 100px;
}
.price-design {
  height: 150px;
  color: white;
  background-color: brown;
  font-size: large;
}
