.bloglist{
    height: 350px;
    width: fit-content;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 25px;
    font-weight: 10px;
    
}

h3{
    background-color: blueviolet;
    color: aqua;
    letter-spacing: normal;
}
.action-blog{
    display: flex;
    background-color: brown;
    color: aliceblue;
    
}